.main{
    background-color: #424040;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-items:center;

    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0 !important;

    .legend_container{
        width: 19.0625rem;
        margin: 0 auto;
        margin-top: 0.63rem;
        margin-bottom: 6.25rem;

        h1{
            width: 19.0625rem;
            height: 3.125rem;
            
            color: #FFF;
            text-align: center;
            font-size: 2.25rem;
            font-weight: 400;

            span{
                font-size: 1.25rem;
                color: #FCBB15;
            }
        }
    }

    .card__container{
        width: 100%;
        max-width: 78rem;
        margin: 0 auto;
        display: grid;
        gap: 4rem;
        justify-content: center;
        justify-items: center;
    }

    @media (min-width: 70rem) {
        .card__container{
            grid-template-columns: repeat(3, minmax(0, 25vw));
        }
    }
    @media (min-width: 40rem) {
        @media (max-width:70rem){
            .card__container{
                grid-template-columns: repeat(2, minmax(0, 35vw));
            }
        }
    }
    @media (max-width: 40rem) {
        .card__container{
            grid-template-columns: minmax(0, 80vw);
        }
    }
}